/* Intro CSS */
#intro {
    text-align: center;
    margin-top: 100px;
}
#nameField {
    width: 800px;
    margin-top: 30px;
}
#intro > button {
    margin: 70px;
}

/* Game CSS */
#topBar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 50px;
}
#pokemon {
    text-align: center;
}
#bottomBar {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.bars {
    display: flex;
    width: 400px;
}

/* Game Over CSS */
#gameOver {
    text-align: center;
    margin-top: 200px;
}
#gameOver > button {
    margin: 30px;
}
#gameOver > p {
    margin: 50px;
}