#intro {
    text-align: center;
    margin-top: 100px;
}
#topBar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
#pokemon {
    text-align: center;
}
#bottomBar {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
#hungerStatus {
    width: 10px;
    height: 20px;
    background-color: blue;
}
#energyStatus {
    width: 10px;
    height: 20px;
    background-color: blue;
}
#boredomStatus {
    width: 10px;
    height: 20px;
    background-color: blue;
}
.bars {
    display: flex;
}
.statusBar {
    width: 400px;
    height: 20px;
    background-color: red;
}