#intro {
    text-align: center;
    margin-top: 100px;
}
#topBar {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
#pokemon {
    text-align: center;
}
#bottomBar {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
